
<h1>this is the app/temp/admin.hbs</h1>


<ul>
  {{#each model as |article|}}
    {{article-tile article=article destroyArticle="destroyArticle" update="update"}}
  {{/each}}
</ul>

{{new-article save2="save3"}}


{{#link-to 'index'}}Home{{/link-to}}
