<header>
  <hr>
  <div class="container">
    <h2>BUSTLE</h2>
    <ul>
      <li>NEWS</li>
      <li>ENTERTAINMENT</li>
      <li>FASHION + BEAUTY</li>
      <li>LIFESTYLE</li>
      <li>BOOKS</li>
      <li>EXPLORE</li>
      <li>ABOUT</li>
      <li><i></i></li>
      <li><i></i></li>
      <li><i></i></li>
    </ul>
  </div>
  <hr>
</header>





{{outlet}}
