
<h1>this is the app/temp/index.hbs</h1>


<ul>
  {{#each model as |article|}}
    {{article-tile article=article}}
  {{/each}}
</ul>






<!-- <li>{{article.author}} {{article.image}} {{article.title}}</li> -->
